# Aliases
# #######

#echo "Setting aliases..."

# Interactive operation...
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# Misc :)
alias less='less -r'                          # raw control characters
alias whence='type -a'                        # where, of a sort
alias grep='grep --color'                     # show differences in colour

# Some shortcuts for different directory listings
alias ls='ls -hF --color=auto'                 # classify files in colour
#alias ls='ls -hF'
# alias dir='ls --color=auto --format=vertical'
# alias vdir='ls --color=auto --format=long'
# alias ll='ls -l'                              # long list
# alias la='ls -A'                              # all but . and ..
# alias l='ls -CF'                              #
alias lo='logout'

alias create='touch'
alias delete='rm'
alias dump='od'
alias edit='vim'
alias merge='sort -m'
alias recall='history'
alias stop='kill -9'
alias vim='TERM=xterm-256color vim'

